.container-grid-6col {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0.8rem 2.8rem;

    img {
        margin: 0 0 0.5rem 0.8rem;
        object-fit: cover;
        max-width: 100%;
    }

    p {
        font-size: 1rem;
        margin: 0 0 1rem 0;
        text-wrap: wrap;
    }

    a {
        text-align: center;
        display: flex;
        flex-direction: column;
        text-wrap: wrap;

        &:hover {
            filter: brightness(130%);
        }
    }
}

h1 {
    margin: 0;
    padding: 7rem 2.8rem 3rem;
    font-size: 3.5rem;
}