.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(80, 80, 80, 0.3);
    height: 5rem;

    &_link {
        display: flex;
        gap: 1.6rem;

        &_icon {
            color: white;
            height: 2rem;
            width: 2rem;
        }
    }
}